{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<title>Reset-password</title>
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		
		<!--[if it IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

<div class="container">
	<div class="containerlogo" align="center">
		<img class="img-fluid" src="{% static 'img/foodiemoments.png' %}" style="height:15rem; width:15em;">
	</div>
	<h1 align="center" style="font-family: Comic Sans Ms;sans-serif;">Forgotten your password?</h1>
	<p align="center">Enter your e-mail address to obtain a new password.</p>
	<form action="." method="post" class="form" align="center">
	{% bootstrap_form form %}
	{% csrf_token %}
	{% buttons %}
	<button name="submit" class="btn btn-primary" value="send e-mail">send e-mail</button>
	{% endbuttons %}
	</form>
</div>
</html>
